<!doctype html>
<html lang="es" ng-app="myApp">
<head>
<title>{{titulo}} root scope</title>
<meta charset="utf-8">

<style>
    body{
        background-color:tomato;
        color:white;
    }

</style>
</head>
<body ng-controller="jareina1">

<h1>CON scope.$apply</h1>
        <button ng-click="scheduleTask()">Get Message after 3 seconds
                </button>
                <br/>Message fetched: {{message}}

                <h1>CON $timeout</h1>
                <button ng-click="scheduleTask2()">Get Message after 3 seconds
                        </button>
                        <br/>Message fetched: {{message2}}


<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>