<!doctype html>
<html lang="es" ng-app="myApp">
<head>
<title>Finance Meter</title>
<meta charset="utf-8">
</head>
<body ng-controller="jareina">
<input  type="text" placeholder="Cómo te llamas ??" ng-model="usuario">

    <div ng-if="usuario" >
            {{greeting}}, {{usuario}} 
         <p>The current date/time is
              <span>{{now | date:  'medium'}}</span>
        </p>   
            
            
        <button ng-click="getRandomHelloMessage()">Saludo aleatorio
                        </button>

    </div>
   
<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>